$font-color: #666;
$dark-color: #545049;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  color: $font-color;
  line-height: 1.8em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  height: 100%;
}

.pimg1,
.pimg2,
.pimg3 {
  background-size: cover;
  background-position: center;
  bckground-repeat: no-repeat;
  opacity: 0.8;

  background-attachment: fixed;
}

.pimg1 {
  background-image: url('../images/img1.jpg');
  height: 100%;

  .title {
    letter-spacing: 0.3rem;
  }
}

.pimg2 {
  background-image: url('../images/img2.jpg');
  height: 400px;
}

.pimg3 {
  background-image: url('../images/img3.jpg');
  height: 400px;
}

.ptext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  font-size: 1.2rem;

  .border {
    background-color: $dark-color;
    padding: 8px 20px;
  }
}

small {
  font-size: 0.8rem;
}

.section {
  padding: 60px 80px;
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
}

.section-light {
  background-color: #fff;
  color: $font-color;
}

.section-dark {
  background-color: $dark-color;
  color: #fff;
}
