body {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  margin: 0;
  position: absolute;
  color: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
