@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-image: url(./images/bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #333;
}

.container {
  display: flex;
  padding: 0 3rem;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

h1, h2 {
  font-weight: 300;
  margin: 0.4rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  color: #4a4a4a;
}

.text {
  border-right: 0.2rem solid #6c6c6c;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 2.0rem;
  }

  h2 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}
